@import url(font.css);
@import url(reset.css);

:root {
	--gray-900: 0 0% 4%;
	--gray-400: 210 7% 56%;
	--gray-100: 0 0% 96%;
	--teal-700: 162 82% 40%;
	--teal-800: 162 87% 35%;
	--teal-900: 162 88% 30%;

	--red-800: 0 86% 59%;

	--fg-primary: hsl(var(--gray-100));
	--fg-placeholder: hsl(var(--gray-400));
	--bg-primary: hsl(var(--gray-900));
	--bg-secondary: hsl(var(--gray-100) / 2%);
	--bg-tertiary: hsl(var(--gray-100) / 4%);
	--accent: hsl(var(--teal-800));
	--accent-tint: hsl(var(--teal-700));
	--accent-shade: hsl(var(--teal-900));
	--error: hsl(var(--red-800));

	--bg-primary-33: hsl(var(--gray-900) / 33%);
	--accent-5: hsl(var(--teal-800) / 5%);
	--accent-10: hsl(var(--teal-800) / 10%);
	--accent-20: hsl(var(--teal-800) / 20%);

	--stroke: hsl(var(--gray-100) / 10%);
	--stroke-focus: hsl(var(--gray-100) / 20%);

	--duration: 200ms;

	--line-height: 1.65625;

	--ripple-color: hsl(var(--gray-100) / 10%);
	--ripple-duration: 500ms;
}

html {
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-size: 1.6rem;
	font-family:
		'Omnes Arabic',
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	font-weight: 600;
	background: var(--bg-primary);
	color: var(--fg-primary);
}

::selection {
	background: var(--accent-shade);
	color: var(--fg-primary);
}

html,
body {
	overflow-x: hidden;
}

body {
	overflow-y: hidden;
	min-height: 100vh;
}

.pause-animations * {
	animation-play-state: paused !important;
}

/* Inview action */

.not-in-view-down {
	transform-origin: top center;
	transform: scale(0.9) translateY(3.2rem);
	opacity: 0;
}

.not-in-view-up {
	transform-origin: bottom center;
	transform: scale(0.9) translateY(-3.2rem);
	opacity: 0;
}

.in-view {
	transform: scale(1) translateY(0);
	opacity: 1;
}

.in-view {
	transition-property: transform, opacity;
	transition-duration: var(--duration);
}

/* Ripple effect action */

.ripple-container {
	position: relative;
	overflow: hidden;
}

.ripple {
	display: block;
	position: absolute;
	transform: translate(-50%, -50%) scale(0);
	opacity: 1;
	aspect-ratio: 1 / 1;
	background: var(--ripple-color);
	border-radius: 50%;
	animation: ripple var(--ripple-duration) linear;
	pointer-events: none;
}

@keyframes ripple {
	100% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 0;
	}
}
